In [2]:
import pandas as pd

df = pd.read_csv('c:/data/mpg.csv')
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  category      234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

In [4]:
df.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [6]:
df.isnull().sum()

manufacturer    0
model           0
displ           0
year            0
cyl             0
trans           0
drv             0
cty             0
hwy             0
fl              0
category        0
dtype: int64

In [7]:
df.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'category'],
      dtype='object')

In [8]:
df['category'].value_counts()

suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: category, dtype: int64

In [11]:
len(df[df['category'] == 'compact'])
len(df[df['category'] == 'suv'])

62

In [12]:
df['category'].unique()

array(['compact', 'midsize', 'suv', '2seater', 'minivan', 'pickup',
       'subcompact'], dtype=object)

In [15]:
!pip install SpeechRecognition

Requirement already satisfied: SpeechRecognition in c:\users\bluecom001\miniconda3\envs\mp\lib\site-packages (3.9.0)
Requirement already satisfied: requests>=2.26.0 in c:\users\bluecom001\miniconda3\envs\mp\lib\site-packages (from SpeechRecognition) (2.31.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\bluecom001\miniconda3\envs\mp\lib\site-packages (from requests>=2.26.0->SpeechRecognition) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bluecom001\miniconda3\envs\mp\lib\site-packages (from requests>=2.26.0->SpeechRecognition) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bluecom001\miniconda3\envs\mp\lib\site-packages (from requests>=2.26.0->SpeechRecognition) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\bluecom001\miniconda3\envs\mp\lib\site-packages (from requests>=2.26.0->SpeechRecognition) (3.3.2)

In [12]:
import os
import sys
import urllib.request
import json
import speech_recognition as sr
import json

def speech_recognator():
    # 1) 음성 인식기
    r = sr.Recognizer() # 음성 인식을 위한 객체 생성

    mic = sr.Microphone(device_index = 1) 
        # 마이크 객체 선언, 인덱스는 각 노트북의 마이크 번호를 의미합니다. 만약 인식이 안되시면 바꿔보시면서 테스트 해보시면 될 듯 합니다. 
    with mic as source:
        r.adjust_for_ambient_noise(source)
        audio = r.listen(source, timeout = 5, phrase_time_limit = 5 ) # 마이크에서 5초 동안 음성을 듣고 audio 변수에 저장합니다. 
        
    result = r.recognize_google(audio, language = "ko-KR", show_all = True) # 인식한 음성을 텍스트로 변환
    print(result['alternatives'][0]['confidence'])

speech_recognator()

    # # 2) 파파고 API 번역기
    # client_id = "jWplhXW4v2tAOxc3QcRf" # 개발자센터에서 발급받은 Client ID 값, 각자 네이버 개발자센터에서 파파고 음성인식, 번역 API 발급받으셔서 사용하시면 됩니다.
    # client_secret = "vS1GJgnbcx" # 개발자센터에서 발급받은 Client Secret 값

    # encText = urllib.parse.quote(result) # 전달받은 텍스트(result 변수)를 번역을 위한 입력값으로 사용, 인코딩 기능
    # data = "source=ko&target=en&text=" + encText
    # url = "https://openapi.naver.com/v1/papago/n2mt"
    # request = urllib.request.Request(url) # url을 열기 위한 HTTP 객체 생성
    # request.add_header("X-Naver-Client-Id",client_id)
    # request.add_header("X-Naver-Client-Secret",client_secret)
    # response = urllib.request.urlopen(request, data=data.encode("utf-8")) # 서버(네이버 API)에 요청을 보내고 응답을 받아옵니다.
    # rescode = response.getcode()
    # if(rescode==200):
    #     response_body = response.read()
    #     response2dict = json.loads(response_body.decode('utf-8')) # response_body 객체가 str 타입이긴 한데 dict 구조여서 다루기 편하게 json 파일로 변환하고 load 했습니다.
    #     response_result = response2dict['message']['result']['translatedText'] # key를 사용하여 원하는 텍스트를 추출했습니다.
    #     print(response_result)
    # else:
    #     print("Error Code:" + rescode)
    # return result, response_result

KeyError: 0